@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}


<h1>The Joel Hilton Film Collection!</h1>
<div >
  <img src="~/img/JoelHiltonHeadshot.jpg" alt="Joel Hilton Headshot" width="600" height="400"/>
</div>
